@charset "utf-8";

body{
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: rgb(28, 55, 80) ;
}

a:hover {
    text-decoration: none;
    color:  rgb(238, 235, 231);
}

.a2 {
    text-decoration: none;
    color: rgb(238, 235, 231);
}

.a2:hover {
    text-decoration: none;
    color:  rgb(28, 55, 80) ;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.separator{
    height: 3px;
    width: 5%;
    border:none;
    box-shadow:none ;
    background-color:rgb(28, 55, 80) ;
}

.separator1{
    height: 3px;
    width: 5%;
    border:none;
    box-shadow:none ;
    background-color: rgb(238, 235, 231);
}

.header{
    
    background-color: rgb(238, 235, 231);
    height:70px;
    line-height: 70px;
}


.logo{
    
    color: rgb(28, 55, 80) ;
    text-transform: uppercase;
    font-weight:;
    letter-spacing: 1px;
    float: left;
    font-family: 'Ibarra Real Nova', serif;
}

.logo:hover{
    color:rgb(52, 132, 207) ;
    
}

.menu{
    float: right;
}

.menu a{
    color: rgb(28, 55, 80);
    margin-right: 20px;
    font-family: 'Ibarra Real Nova', serif;
}

.menu a:hover{
    color:rgb(52, 132, 207) ;
    
}

.banner{
    width: 100%;
    max-width: 100%;
    
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;

}

.ban img{
    width: 100%;
    max-width: 100%;
}

.inner-banner{
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
}

.inner-banner h1{
    color: rgb(238, 235, 231);
    text-shadow: 2px 2px 20px #000000;
    font-family: 'Galada', cursive;
    font-size: 50px;
}

.inner-banner .btn-custom{
    background-color:rgb(28, 55, 80) ;
    color: rgb(238, 235, 231);
    font-family: 'Ibarra Real Nova', serif;
}

.inner-banner .btn-custom:hover{
    background-color: rgb(111, 150, 236);
}

.inner-banner .btn-custom a{
    color: rgb(238, 235, 231) ;
}

#about{
    text-align: center;
    margin-top: 5%;
    font-family: 'Ibarra Real Nova', serif;
}

.about{
    text-align: center;
}

#arrondi {
	overflow:hidden;
	-webkit-border-radius:40px;
	-moz-border-radius: 40%;
    border-radius:280px;
    width:290px;
    height:275px;
	
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
}

article{
    font-family: 'Ibarra Real Nova', serif;
}

p{
    font-family: 'Ibarra Real Nova', serif;
}


h2{
    font-family: 'Ibarra Real Nova', serif;
}


.about article{
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;   

}

.about article h2{
   

}


.portfolio {
    
    height: 600px;
    
}


.portfolio .item-folio{
    height: 400px;
   

}

#competences{
    text-align: center;
    background-color: rgb(238, 235, 231);
    font-family: 'Ibarra Real Nova', serif;
    width: 100%;
    max-width: 100%;
}




#formation{
    text-align: center;
    margin-top: 5%;
}

.formation{
    background-color: rgb(28, 55, 80);
    color: rgb(238, 235, 231);
    text-align: center;
} 


.formation:hover {
    background-color: rgb(28, 55, 80);
    color: rgb(238, 235, 231);
}




.formation article{
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;
    padding-left:10% ;
    
    
    

}

.formation article h2{
   

}



#experience{
    text-align: center;
    margin-top: 5%;
    background-color: rgb(28, 55, 80);
   color: rgb(238, 235, 231); 
}

.experience{
    text-align: center;
   
}




.experience article{
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;
    

}


.experience article h2{
    font-size: 26px;
   

}


.experience2{
    text-align: center;
}


.experience2 article{
    margin-top: 0%;
    text-align: justify;
    margin-bottom: 10%;   

}

#expe h2 {
    text-align: initial;
}

#expe2 h2{
    text-align: initial;
}


.experience2 article h2{
    font-size: 26px;
   

}


.footer{
    background-color: rgb(28, 55, 80);
    height: 600px;
    color:rgb(238, 235, 231) ;
}

.footer p{
    text-align: center;
    color: black;
    padding-top: 200px;
}

#contact {
    text-align: center;
    height: auto;
}

.formulaire{

    width: 500px;
    display: block;
    margin: 0 auto;
    

}

input{
    margin-bottom: 20px;
    top: 50%;
}

input[type=text] {
    height: 50px;
    width: 500px;
    border:none;

}


input[type=email] {
    height: 50px;
    width: 500px;
    border: none;

}

textarea{
    height: 200px;
    width: 1000px;
    resize: vertical;

}

.btn-custom{
    background-color: rgb(238, 235, 231) ;
}

.btn-custom:hover{
    background-color: rgb(111, 150, 236);
}




.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 50px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 50px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 4px solid #3b5998;
    border-radius: 100%;
    background-color: rgb(28, 55, 80);
    box-shadow: 0 0 5px #4582ec;
    width: 80px;
    height: 80px;
    margin-left: -50px;
    margin-top: 20px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}



/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 150px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 150px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 0px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 0px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {


  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 150px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 150px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
    border: 30px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 100px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
  .item-folio {
      height: 50px;
      width: 15px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    display: none;
 
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}